/* Add CSS styling here */
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /* border:1px solid grey; */
    }
    
    html{
    /* min-width: 880px;
    max-width: 930px;
    margin: 0 auto; */
    font-size:62.5%;
    }
    
    body {
    font-size: 1.6rem;
    }
    
/* header css */

header {
    display: flex; 
    justify-content: space-between;
    margin: 2rem;
}

header p {
    font-size: 3rem;
}

header nav {
    width: 33%;
    display: flex;
    justify-content: flex-end;
}

header nav a {
    display: flex;
    width:25%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid black;
}

/* Banner section */

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner div {
    background-image: url(/images/photo-1489844097929-c8d5b91c456e.jpeg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 80%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

h1 {
    font-size: 6rem;
    color: White;
    margin: 1.5rem;
    text-shadow: 2px 2px 5px black;
}

#banner a {
    display: inline-block;
    background-color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
}

/* showcase */
#showcase {
    display: flex;
    justify-content: center;
    margin: 2rem;
}


.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.container div {
    max-width: 30%;
    min-width: 300px;
    text-align: center;
}

.container div p {
    margin-bottom: 2rem;
}



/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    min-height: 100px;
    background-color: rgb(220, 219, 245);
}

footer a {
    display: inline-block;
    background-color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
}

